

<div class="container main-wrapper">
    <div class ="row header">
      <div class="col-8">
        <h1 class="display-2 text-white ml-3 mt-3"> eBoard </h1>
      </div>
      <div class="col-1 m-1 d-flex align-self-center" > <button type="button" class="btn btn-info"><i class="material-icons scale-icon-in-header">sync_alt</i></button></div>
      <div class="col-1 m-1 d-flex align-self-center" > <button type="button" class="btn btn-warning"><i class="material-icons scale-icon-in-header">refresh</i></button></div>
      <div class="col-1 m-1 d-flex align-self-center" > <button type="button" class="btn btn-primary"><i class="material-icons scale-icon-in-header">bluetooth</i></button></div>
    </div>
    <div class ="row scoreboard">
       <div class = "col-6 d-flex justify-content-center align-self-center">
        <div class="card text-white mb-3 blueScorePanel">
            <div class="card-body">
              <p class="card-text score-text">00</p>
            </div>
          </div>
       </div>
       <div class = "col-6 d-flex justify-content-center align-self-center ">
       <div class="card text-white mb-3 redScorePanel">
            <div class="card-body">
              <p class="card-text score-text">00</p>
            </div>
       </div>
       </div>
    </div>
    <div class ="row controls ">
          <div class="card bg-light mb-3 w-100   ">
              <div class="card-body vertical-align">
                <div class ="row">
                  <div class="col-6 mb-3 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn btn-primary"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                  </div>
                  <div class="col-6 mb-3 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn btn-danger"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                  </div>
                  <div class="col-6 mt-3 d-flex justify-content-center align-self-center " >
                    <button type="button" class="btn btn-primary"><i class="material-icons scale-icon-80">arrow_downward</i></button>
                  </div>
                  <div class="col-6 mt-3 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn btn-danger"><i class="material-icons scale-icon-80">arrow_downward</i></button>
                </div>
              </div>
          </div>
          <div class="footer w-100 mb-1">
            <div class="card">
                <div class="card-body footer-bg-color">
                  <p class="card-text text-center text-white ">Domenico Garreffa January 2020</p>
                </div>
            </div>
          </div>
        </div>
    </div>
