.scoreboard{
    height: 30%;
    min-height: 30%;
}

.header {
    height:20%;
    min-height: 20%;
    background-color: #434343;

}


.footer {
  height:10%;
  min-height: 10%;
}

.footer-bg-color {
    background-color: #434343
}

.controls{
    height:40%;
    min-height:40%;

}

.container-wrapper {
  height: 100%;
  min-height: 100%;
}

.scaleButton {
    font-size:20vh;
    font-size:20vw;
}

.scale-icon-in-header {
  font-size:5vh;
  font-size:5vw;
}

.scale-icon-80 {
  font-size: 9vw;
  font-size: 9vh;


}

.scale-spinner {
  height: 4vh;
  width: 4vh;

}

.score-text{
  font-size:20vh;
  font-size:20vw;
}

.blueScorePanel {
  background-color: #007bff;
}

.redScorePanel{
  background-color: #b21f2d;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bte-connected {
  color: #76FF03;
}

.bte-disconnected {
  color: #FFFF00;
}
