

<div class="container main-wrapper">
    <div class ="row header">
      <div class="col-8">
        <h1 class="display-2 text-white ml-3 mt-3"> eBoard </h1>
      </div>
      <div class="col-1 m-1 d-flex align-self-center" > <button id="swappedButton" type="button" class="btn btn-info" (click)="swap($event)"><i class="material-icons scale-icon-in-header">sync_alt</i></button></div>
      <div class="col-1 m-1 d-flex align-self-center" > <button id="resetButton" type="button" class="btn btn-warning" (click)="resetScore($event)"><i class="material-icons scale-icon-in-header">refresh</i></button></div>
      <div class="col-1 m-1 d-flex align-self-center" >
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bteOptionModal" (click)="openModal()">
          <i *ngIf="!connecting" #bteIcon class="material-icons scale-icon-in-header bte-disconnected">bluetooth</i>
          <div *ngIf="connecting" class="spinner-border text-warning scale-spinner" role="status">
            <span class="sr-only ">Loading...</span>
          </div>
        </button></div>
    </div>
      <div *ngIf="swapped" class="row scoreboard" >
           <div class = "col-6 d-flex justify-content-center align-self-center ">
             <div class="card text-white redScorePanel">
                  <div class="card-body">
                    <p id="redScoreText" class="card-text score-text">{{redScoreText}}</p>
                  </div>
             </div>
           </div>
           <div class = "col-6 d-flex justify-content-center align-self-center">
              <div class="card text-white blueScorePanel">
                <div class="card-body">
                  <p id="blueScoreText" class="card-text score-text">{{blueScoreText}}</p>
                </div>
              </div>
           </div>
         </div>

       <div *ngIf="!swapped" class="row scoreboard">
         <div class = "col-6 d-flex justify-content-center align-self-center">
          <div class="card text-white blueScorePanel">
              <div class="card-body">
                <p id="blueScoreText" class="card-text score-text">{{blueScoreText}}</p>
              </div>
            </div>
         </div>
         <div class = "col-6 d-flex justify-content-center align-self-center ">
           <div class="card text-white redScorePanel">
                <div class="card-body">
                  <p id="redScoreText" class="card-text score-text">{{redScoreText}}</p>
                </div>
           </div>
         </div>
       </div>

    <div class ="row controls ">
          <div class="card bg-light mb-3 w-100   ">
              <div class="card-body vertical-align">
                <div *ngIf="swapped; else defaultButton" class ="row">
                  <div class="col-6 mb-3 d-flex justify-content-center align-self-center">
                    <button id="redScoreIncButton" type="button" class="btn btn-danger" (click)="redScoreInc($event)"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                  </div>
                  <div class="col-6 mb-3 d-flex justify-content-center align-self-center">
                    <button id="blueScoreIncButton" type="button" class="btn btn-primary" (click)="blueScoreInc($event)"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                  </div>
                  <div class="col-6 mt-3 d-flex justify-content-center align-self-center">
                    <button id="redScoreDecButton" type="button" class="btn btn-danger" (click)="redScoreDec($event)"><i class="material-icons scale-icon-80">arrow_downward</i></button>
                  </div>
                  <div class="col-6 mt-3 d-flex justify-content-center align-self-center">
                    <button id="blueScoreDecButton" type="button" class="btn btn-primary" (click)="blueScoreDec($event)"> <i class="material-icons scale-icon-80">arrow_downward</i></button>
                  </div>
                 </div>

              <ng-template #defaultButton>
              <div class="row">
                <div class="col-6 mb-3 d-flex justify-content-center align-self-center">
                  <button id="blueScoreIncButton" type="button" class="btn btn-primary" (click)="blueScoreInc($event)"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                </div>
                <div class="col-6 mb-3 d-flex justify-content-center align-self-center">
                  <button id="redScoreIncButton" type="button" class="btn btn-danger" (click)="redScoreInc($event)"><i class="material-icons scale-icon-80">arrow_upward</i></button>
                </div>
                <div class="col-6 mt-3 d-flex justify-content-center align-self-center">
                  <button id="blueScoreDecButton" type="button" class="btn btn-primary" (click)="blueScoreDec($event)"> <i class="material-icons scale-icon-80">arrow_downward</i></button>
                </div>
                <div class="col-6 mt-3 d-flex justify-content-center align-self-center">
                  <button id="redScoreDecButton" type="button" class="btn btn-danger" (click)="redScoreDec($event)"><i class="material-icons scale-icon-80">arrow_downward</i></button>
                </div>
              </div>
              </ng-template>
          </div>
          <div class="footer w-100 mb-1">
            <div class="card">
                <div class="card-body footer-bg-color">
                  <p class="card-text text-center text-white ">Domenico Garreffa January 2020</p>
                </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="bteOptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Bluetooth Options</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{bteModalText}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="connectBte()" data-dismiss="modal">Connect</button>
                <button type="button" class="btn btn-danger" (click)="onDisconnect()" data-dismiss="modal">Disconnect</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

    </div>
