.scoreboard{
    height: 30%;
    min-height: 30%;
}

.header {
    height:20%;
    min-height: 20%;
    background-color: #434343;

}

.footer {
  height:10%;
  min-height: 10%;
}

.footer-bg-color {
    background-color: #434343
}



.controls{
    height:40%;
    min-height:40%;

}

.main-wrapper{
    height: 100vh;
}

.scaleButton {
    font-size:80px;
}

.scale-icon-in-header {
    font-size:20px;
}

.scale-icon-80 {
    font-size:80px;

}

.score-text{
    font-size: 15vw;

}

.blueScorePanel {
  background-color: #007bff;
}

.redScorePanel{
  background-color: #b21f2d;
}

.vertical-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
